body {
     background-image: url("PG/super.jpg");
}

table, th, td {
    border: 1px solid black;
}
p2 { 
    font-size: 50px;
    text-align: center;
    color: black; 
    font-family: "Comic Sans MS", cursive, sans-serif;  
    font-weight: bold;
}
a{
    text-decoration:  none;
}
p1 {
    font-weight: 900;
}
